build
node_modules
data
data_genbank
dist
figures
notebooks
pymol
workflow_main
workflow_gisaid_ingest
workflow_genbank_ingest
.ipynb_checkpoints
.git
.snakemake
.vscode

*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache