build
node_modules
data
data_genbank
data_flu
data_flu_small
data_flu_genbank
data_gisaid_flu
data_gisaid_rsv
data_genbank_rsv
dist
example_data_genbank
figures
notebooks
pymol
workflow_main
workflow_custom_ingest
workflow_gisaid_ingest
workflow_genbank_ingest
.ipynb_checkpoints
.git
.snakemake
.vscode

*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache

README.md
LICENSE
environment.yml
.gitignore
.gitattributes
.gcloudignore
.editorconfig