node_modules
data/sam
data/fasta_raw
data/fasta_processed
data/pymol_sessions
data/dna_snp
data/gene_aa_snp
data/protein_aa_snp
data/patient_meta
data/seq_meta
data/acknowledgements
data/reference_index
data_link
.git
.snakemake
.vscode
.ipynb_checkpoints
figures
notebooks
.gcloudignore
.gitattributes
.gitignore
.dockerignore
versions