.git
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache

.dockerignore
.git
.gitignore
.gitattributes
.gcloudignore
.editorconfig
.ipynb_checkpoints
.snakemake
.vscode

build
data
data_genbank
data_az
data_ma
dist
example_data_genbank
figures
node_modules
notebooks
pymol
workflow_main
workflow_custom_ingest
workflow_gisaid_ingest
workflow_genbank_ingest

README.md
LICENSE
environment.yml
