version: "3.7"

services:
  server:
    build:
      context: ./
      dockerfile: ./services/server/Dockerfile
      args:
        CONFIGFILE: ./config/config_genbank.yaml # TODO: allow this to be configured via. an environmental variable prior to running the docker-compose command?
    env_file:
      - ./services/.env.dev
    # command: "gunicorn --bind :5000 --workers 1 --threads 8 --timeout 0 cg_server.main:app"
    command: "flask run --host 0.0.0.0 --port=5000"
    ports:
      - 5000:5000
    working_dir: /app
    volumes:
      - ./services/server:/app:cached # Mount the server python code at run-time, so that the flask development server can refresh on changes
      - ./example_data_genbank:/data:cached # Mount the data at run-time (for database seeding only). Should prevent sending all the data over unnecessarily at build-time
    depends_on:
      - db
  db:
    image: postgres:12-alpine
    env_file:
      - ./services/.env.dev
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports: # Expose 5432 so we can use DB administration tools
      - 5432:5432
  frontend:
    build:
      context: ./
      dockerfile: ./services/frontend/Dockerfile
      args:
        CONFIGFILE: ./config/config_genbank.yaml
    working_dir: /app
    volumes:
      - ./src:/app/src:cached # Mount the JS code at run-time, so the babel server can recompile the app on file changes
    command: "npm start -s"
    ports:
      - 3000:3000

volumes:
  postgres_data:
