# docker-compose -f docker-compose.cloudsql.yml -p cgcloudsql

version: "3.7"

services:
  server:
    build:
      context: ./
      dockerfile: ./services/server/cloudsql.Dockerfile
      args:
        CONFIGFILE: ${CONFIGFILE} # TODO: allow this to be configured via. an environmental variable prior to running the docker-compose command?
    environment:
      - FLASK_APP=cg_server/main.py
      - FLASK_ENV=development
      - CLOUDSQL_CONNECTION_NAME
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - POSTGRES_HOST
    # command: "gunicorn --bind :5000 --workers 1 --threads 8 --timeout 0 cg_server.main:app"
    command: "flask run --host 0.0.0.0 --port=5000"
    ports:
      - 5000:5000
    working_dir: /app
    volumes:
      # Mount the volume for the cloudsql proxy.
      - cloudsql:/cloudsql
      - ./services/server:/app:cached # Mount the server python code at run-time, so that the flask development server can refresh on changes
      - ./example_data_genbank:/data:cached # Mount the data at run-time (for database seeding only). Should prevent sending all the data over unnecessarily at build-time
    depends_on:
      - sql_proxy

  sql_proxy:
    image: gcr.io/cloudsql-docker/gce-proxy:1.19.1
    command:
      - "/cloud_sql_proxy"
      - "-dir=/cloudsql"
      - "-instances=${CLOUDSQL_CONNECTION_NAME}"
      - "-credential_file=/tmp/keys/keyfile.json"
    # Allow the container to bind to the unix socket.
    user: root
    volumes:
      - ${GOOGLE_APPLICATION_CREDENTIALS}:/tmp/keys/keyfile.json:ro
      - cloudsql:/cloudsql

  frontend:
    build:
      context: ./
      dockerfile: ./services/frontend/Dockerfile
      args:
        CONFIGFILE: ${CONFIGFILE}
    working_dir: /app
    volumes:
      - ./src:/app/src:cached # Mount the JS code at run-time, so the babel server can recompile the app on file changes
    command: "npm start -s"
    ports:
      - 3000:3000

volumes:
  # This empty property initializes a named volume.
  cloudsql:
