.about-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 1px solid #AAA;
    width: 100%;

    h1 {
      margin: 0px;
      margin-right: 20px;
      font-weight: 700;
      font-size: 2em;
      border-right: 1px solid #AAA;
      padding-right: 20px;
    }
  }

  .content {
    max-width: 1000px;
    padding: 20px;

    .image-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      a {
        margin-right: 30px;
      }
    }
  }
}